@import url('./reset.css');
@import url('./navigation.css');
:root {
    /* Spacing */
    --space-4: 0.25rem;
    --space-8: 0.5rem;
    --space-12: 0.75rem;
    --space-16: 1rem;
    --space-24: 1.5rem;
    --space-32: 2rem;
    --space-48: 3rem;
    --space-64: 4rem;
    --space-80: 5rem;
    --space-96: 6rem;
    --space-128: 8rem;
    --space-160: 10rem;

    /* Colors */
    --color-light-cream: #0f0f0f;
    --color-cream: #F6F5F1;
    --color-tinted-cream: #E6E3E1;
    --color-black: #353534;
    --color-gray-800: #4A4A46;
    --color-gray-600: #73706D;
    --color-gray-500: #8E8F94;
    --color-gray-400: #AFB0B6;
    --color-gray-300: #D3D3D1;
    --color-gray-100: #E9E9E7;
    --color-bright-crimson: #960462;
    --color-crimson: #5F023E;
    --color-sea-blue: #04A5BB;
    --color-medium-sea-blue: #008BA3;
    --color-dark-sea-blue: #00758F;
    --color-purple: #7558B2;
    --color-salmon: #FD8370;

    /* Font faces */
    --font-serif: "canela",serif;
    --font-body: "gt-walsheim",sans-serif;
    --font-sans: "neue montreal",sans-serif;

    /* Font settings */
    --leading-tighter: 110%;
    --leading-tight: 120%;
    --leading-snug: 130%;
    --leading-base: 140%;
    --leading-loose: 170%;
    --leading-looser: 200%;

    /* Borders and shadows */
    --border-radius-sm: 0.2rem;
    --border-radius-base: 0.4rem;
    --border-radius-lg: 0.6rem;
    --box-shadow-sm: 0.2px 0.2px 0.8px -10px rgba(40,10,0,0.014), 0.4px 0.4px 2px -10px rgba(40,10,0,0.02), 0.8px 0.8px 3.8px -10px rgba(40,10,0,0.025), 1.3px 1.3px 6.7px -10px rgba(40,10,0,0.03), 2.5px 2.5px 12.5px -10px rgba(40,10,0,0.036), 6px 6px 30px -10px rgba(40,10,0,0.05);
    --box-shadow-md: 1px 0.9px 2.3px -3px rgba(30,10,10,0.04), 2.4px 2.2px 5.5px -3px rgba(30,10,10,0.05), 4.5px 4.1px 10.4px -3px rgba(30,10,10,0.06), 8px 7.4px 18.5px -3px rgba(30,10,10,0.07), 15px 13.8px 34.7px -3px rgba(30,10,10,0.08), 36px 33px 83px -3px rgba(30,10,10,0.2);
    --box-shadow-lg: 0.2px 0.4px 0.8px -10px rgba(0,0,0,0.03), 0.4px 0.9px 2px -10px rgba(0,0,0,0.03), 0.8px 1.8px 3.8px -10px rgba(0,0,0,0.038), 1.3px 3.1px 6.7px -10px rgba(0,0,0,0.045), 2.5px 5.8px 12.5px -10px rgba(0,0,0,0.06), 6px 14px 30px -10px rgba(0,0,0,0.08);

    /* Fc something */
    --fc-3xs-min: (var(--fc-s-min) * 0.25);
    --fc-3xs-max: (var(--fc-s-max) * 0.25);
    --fc-2xs-min: (var(--fc-s-min) * 0.5);
    --fc-2xs-max: (var(--fc-s-max) * 0.5);
    --fc-xs-min: (var(--fc-s-min) * 0.75);
    --fc-xs-max: (var(--fc-s-max) * 0.75);
    --fc-s-min: (var(--f-0-min,20));
    --fc-s-max: (var(--f-0-max,22));
    --fc-m-min: (var(--fc-s-min) * 1.5);
    --fc-m-max: (var(--fc-s-max) * 1.5);
    --fc-l-min: (var(--fc-s-min) * 2);
    --fc-l-max: (var(--fc-s-max) * 2);
    --fc-xl-min: (var(--fc-s-min) * 3);
    --fc-xl-max: (var(--fc-s-max) * 3);
    --fc-2xl-min: (var(--fc-s-min) * 4);
    --fc-2xl-max: (var(--fc-s-max) * 4);
    --fc-3xl-min: (var(--fc-s-min) * 6);
    --fc-3xl-max: (var(--fc-s-max) * 6);
    --fc-4xl-min: (var(--fc-s-min) * 8);
    --fc-4xl-max: (var(--fc-s-max) * 8);

    /* More spacing */
    --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
    --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
    --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
    --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
    --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
    --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
    --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
    --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
    --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
    --space-4xl: calc(((var(--fc-4xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-4xl-min)) * var(--fluid-bp));
    --space-3xs-2xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
    --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
    --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
    --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
    --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
    --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
    --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
    --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
    --space-3xl-4xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
    --fluid-min-width: 320;
    --fluid-max-width: 1200;
    --fluid-screen: 100vw;
    --fluid-bp: calc( (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)) );
}

@media screen and (min-width: 1200px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}

:root {
    /* Font sizes calculator */
    --f--2-min: 14.5;
    --f--2-max: 15;
    --font-size-xs: calc( ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) * var(--fluid-bp) );
    --f--1-min: 16;
    --f--1-max: 16.5;
    --font-size-sm: calc( ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) * var(--fluid-bp) );
    --f-0-min: 20;
    --f-0-max: 22;
    --font-size-base: calc( ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) * var(--fluid-bp) );
    --f-1-min: 25;
    --f-1-max: 28.6;
    --font-size-md: calc( ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) * var(--fluid-bp) );
    --f-2-min: 31.25;
    --f-2-max: 37.18;
    --font-size-lg: calc( ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) * var(--fluid-bp) );
    --f-3-min: 39.06;
    --f-3-max: 48.33;
    --font-size-xl: calc( ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) * var(--fluid-bp) );
    --f-4-min: 46.87;
    --f-4-max: 62.83;
    --font-size-2xl: calc( ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) * var(--fluid-bp) );
    --f-5-min: 57.6;
    --f-5-max: 81.8;
    --font-size-3xl: calc( ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) * var(--fluid-bp) );
    --f-6-min: 76.29;
    --f-6-max: 106.34;
    --font-size-4xl: calc( ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) * var(--fluid-bp) );
}





/* Global variables */
:root {
    --color-primary: #f8f3f7;
    --color-accent: #1c1c1c;
    --color-gray-800: #4A4A46;
    --color-bright-crimson: #960462;
    --color-crimson: #5F023E;
    --color-cute-purple: #CDBADE;
    --color-sea-blue: #04A5BB;
    --color-medium-sea-blue: #008BA3;
    --color-dark-sea-blue: #00758F;
    --color-purple: #7558B2;
    --color-salmon: #FD8370;
}

/* Fonts */
@font-face {
    font-family: 'canela';
    font-style: normal;
    font-display: block;
    src: url('/assets/fonts/Canela.woff2') format('woff2');
}

@font-face {
    font-family: 'neue montreal';
    font-style: normal;
    font-display: block;
    src: url('/assets/fonts/NeueMontreal.woff2') format('woff2');
}

@font-face {
    font-family: 'gt-walsheim';
    font-style: normal;
    font-display: block;
    src: url('/assets/fonts/GT-Walsheim.woff2') format('woff2');
}

body {
    position: relative;
    font-family: 'gt-walsheim', system-ui, sans-serif;
    color: var(--color-accent);
    background-color: var(--color-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

#copyright {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}


.underline__container {
        transition: color 0.2s ease-in-out 0s;
}

/* a {
    text-decoration: none;
    color: inherit;
    color: #5F023E;
} */

.underline__link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    outline: none;
    padding-bottom: 0.25rem;
}

.underline__link:focus {
    outline: darkblue solid 2px;
    border-radius: 2px;
}

.underline__link::before {
    content: "";
    transform-origin: 50% 100%;
    background: var(--color-sea-blue);
    transition: clip-path 0.3s ease 0s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1) 0s;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 95%;
    left: 0px;
    pointer-events: none;
    clip-path: polygon(0% 0%, 0% 100%, 0px 100%, 0px 0px, 100% 0px, 100% 100%, 0px 100%, 0px 100%, 100% 100%, 100% 0%);
}

.underline__link:hover::before {
    transform: translate3d(0px, 2px, 0px) scale3d(1, 2, 1);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 0px, 50% 0px, 50% 100%, 50% 100%, 0px 100%, 100% 100%, 100% 0%);
}

.underline__link span {
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.2, 1, 0.8, 1) 0s;
    /* color: var(--color-bright-crimson); */
    /* color: #960462; */
    /* color: var(--color-gray-800); */
}

.underline__link:hover span {
    transform: translate3d(0px, -2px, 0px);
    color: var(--color-bright-crimson);
}

.underline__span {
    /* color: var(--color-gray-800); */
}


/* Contact Page styles */
.contact__wrapper {
    padding: 0 17vw;
    padding-top: var(--space-xl-2xl);
}

.contact__subtitle {
    display: inline-block;
    font-size: var(--font-size-s);
    font-family: var(--font-sans);
    letter-spacing: 0.01em;
    /* margin-bottom: var(--space-3xs); */
    margin-bottom: var(--space-xs);
    margin-left: var(--space-3xs);
    color: var(--color-gray-800);
}

.contact__heading {
    display: flex;
    min-width: fit-content;
    width: 30vw;
    align-items: center;
}

.contact__title {
    font-size: var(--font-size-3xl);
    font-family: var(--font-serif);
    line-height: var(--leading-tighter);
    letter-spacing: -0.03em;
    font-weight: normal;
    margin-bottom: var(--space-2xs);
    max-width: 1200px;
    display: inline-block;
}

.accent {
    background: var(--color-gray-800);
    display: inline-block;
    margin-left: 30px;
    width: 100px;
    height: 1px;
}

.contact__list {
    list-style-type: none;
    padding: 0;
}

.marker {
    display: inline;
    vertical-align: middle;
    color: var(--color-gray-800);
}

.contact__link {
    color: var(--color-gray-800);
    font-family: var(--font-sans);
    font-size: var(--font-size-s);
    letter-spacing: 0.01em;
    margin-left: var(--space-3xs);
}