:root {
  /* Spacing */
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-48: 3rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-96: 6rem;
  --space-128: 8rem;
  --space-160: 10rem;

  /* Colors */
  --color-light-cream: #0f0f0f;
  --color-light-cream: #fcfbf7;
  --color-cream: #f6f5f1;
  --color-tinted-cream: #e6e3e1;
  --color-colorac--color-accent: #353534;
  --color-gray-800: #4a4a46;
  --color-gray-600: #73706d;
  --color-gray-500: #8e8f94;
  --color-gray-400: #afb0b6;
  --color-gray-300: #d3d3d1;
  --color-gray-100: #e9e9e7;
  --color-bright-crimson: #960462;
  --color-crimson: #5f023e;
  --color-sea-blue: #04a5bb;
  --color-medium-sea-blue: #008ba3;
  --color-dark-sea-blue: #00758f;
  --color-purple: #7558b2;
  --color-salmon: #fd8370;

  /* Font faces */
  --font-serif: 'canela', serif;
  --font-body: 'gt-walsheim', sans-serif;
  --font-sans: 'neue montreal', sans-serif;

  /* Font settings */
  --leading-tighter: 110%;
  --leading-tight: 120%;
  --leading-snug: 130%;
  --leading-base: 140%;
  --leading-loose: 170%;
  --leading-looser: 200%;

  /* Borders and shadows */
  --border-radius-sm: 0.2rem;
  --border-radius-base: 0.4rem;
  --border-radius-lg: 0.6rem;
  --box-shadow-sm: 0.2px 0.2px 0.8px -10px rgba(40, 10, 0, 0.014),
    0.4px 0.4px 2px -10px rgba(40, 10, 0, 0.02),
    0.8px 0.8px 3.8px -10px rgba(40, 10, 0, 0.025),
    1.3px 1.3px 6.7px -10px rgba(40, 10, 0, 0.03),
    2.5px 2.5px 12.5px -10px rgba(40, 10, 0, 0.036),
    6px 6px 30px -10px rgba(40, 10, 0, 0.05);
  --box-shadow-md: 1px 0.9px 2.3px -3px rgba(30, 10, 10, 0.04),
    2.4px 2.2px 5.5px -3px rgba(30, 10, 10, 0.05),
    4.5px 4.1px 10.4px -3px rgba(30, 10, 10, 0.06),
    8px 7.4px 18.5px -3px rgba(30, 10, 10, 0.07),
    15px 13.8px 34.7px -3px rgba(30, 10, 10, 0.08),
    36px 33px 83px -3px rgba(30, 10, 10, 0.2);
  --box-shadow-lg: 0.2px 0.4px 0.8px -10px rgba(0, 0, 0, 0.03),
    0.4px 0.9px 2px -10px rgba(0, 0, 0, 0.03),
    0.8px 1.8px 3.8px -10px rgba(0, 0, 0, 0.038),
    1.3px 3.1px 6.7px -10px rgba(0, 0, 0, 0.045),
    2.5px 5.8px 12.5px -10px rgba(0, 0, 0, 0.06), 6px 14px 30px -10px rgba(0, 0, 0, 0.08);

  /* Fc something */
  --fc-3xs-min: (var(--fc-s-min) * 0.25);
  --fc-3xs-max: (var(--fc-s-max) * 0.25);
  --fc-2xs-min: (var(--fc-s-min) * 0.5);
  --fc-2xs-max: (var(--fc-s-max) * 0.5);
  --fc-xs-min: (var(--fc-s-min) * 0.75);
  --fc-xs-max: (var(--fc-s-max) * 0.75);
  --fc-s-min: (var(--f-0-min, 20));
  --fc-s-max: (var(--f-0-max, 22));
  --fc-m-min: (var(--fc-s-min) * 1.5);
  --fc-m-max: (var(--fc-s-max) * 1.5);
  --fc-l-min: (var(--fc-s-min) * 2);
  --fc-l-max: (var(--fc-s-max) * 2);
  --fc-xl-min: (var(--fc-s-min) * 3);
  --fc-xl-max: (var(--fc-s-max) * 3);
  --fc-2xl-min: (var(--fc-s-min) * 4);
  --fc-2xl-max: (var(--fc-s-max) * 4);
  --fc-3xl-min: (var(--fc-s-min) * 6);
  --fc-3xl-max: (var(--fc-s-max) * 6);
  --fc-4xl-min: (var(--fc-s-min) * 8);
  --fc-4xl-max: (var(--fc-s-max) * 8);

  /* More spacing */
  --space-3xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) *
      var(--fluid-bp)
  );
  --space-2xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) *
      var(--fluid-bp)
  );
  --space-xs: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) *
      var(--fluid-bp)
  );
  --space-3xl: calc(
    ((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) *
      var(--fluid-bp)
  );
  --space-4xl: calc(
    ((var(--fc-4xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-4xl-min)) *
      var(--fluid-bp)
  );
  --space-3xs-2xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) *
      var(--fluid-bp)
  );
  --space-2xs-xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) *
      var(--fluid-bp)
  );
  --space-xs-s: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s-m: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m-l: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l-xl: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl-2xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl-3xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) *
      var(--fluid-bp)
  );
  --space-3xl-4xl: calc(
    ((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-3xl-min)) *
      var(--fluid-bp)
  );
  --fluid-min-width: 320;
  --fluid-max-width: 1200;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  /* Font sizes calculator */
  --f--2-min: 14.5;
  --f--2-max: 15;
  --font-size-xs: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );
  --f--1-min: 16;
  --f--1-max: 16.5;
  --font-size-sm: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );
  --f-0-min: 20;
  --f-0-max: 22;
  --font-size-base: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) * var(--fluid-bp)
  );
  --f-1-min: 25;
  --f-1-max: 28.6;
  --font-size-md: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) * var(--fluid-bp)
  );
  --f-2-min: 31.25;
  --f-2-max: 37.18;
  --font-size-lg: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) * var(--fluid-bp)
  );
  --f-3-min: 39.06;
  --f-3-max: 48.33;
  --font-size-xl: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) * var(--fluid-bp)
  );
  --f-4-min: 46.87;
  --f-4-max: 62.83;
  --font-size-2xl: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) * var(--fluid-bp)
  );
  --f-5-min: 57.6;
  --f-5-max: 81.8;
  --font-size-3xl: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) * var(--fluid-bp)
  );
  --f-6-min: 76.29;
  --f-6-max: 106.34;
  --font-size-4xl: calc(
    ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) * var(--fluid-bp)
  );
}

/* Global variables */
:root {
  --color-primary: #f8f3f7;
  /* --color-primary: #f9f8f4; */
  --color-accent: #1c1c1c;
  --color-cute-purple: #cdbade;
}


/* 
* Color Schemes from Cassie Evans blog. 
* =======================================
* Used for syntax highlighting. Currently 
* it's a mess, but try to fix it later.
*/

:root {
  --color-mint: #6fdcbf;
  --color-mint-no-swop: #6fdcbf;
  --color-mint-up: #a5d4bb;
  --color-mint-down: #55af96;
  --color-lilac: #ae8fdb;
  --color-lilac-no-swop: #ae8fdb;
  --color-sea: #72cada;
  --color-highlight: #ae8fdb;
  --color-lilac-up: #b1b1d8;
  --color-sherbet: #fef8b4;
  --color-rose: #dc849b;
  --color-marshmellow: #d695b6;
  --color-peach: #f2c3c0;
  --color-biscuit: #ad998a;
  --color-oat: #cbc1bd;
  --color-light: #f7f7f7;
  --color-light-down: #fafafa;
  --color-light-down-2: #f4f5f5;
  --color-light-down-3: #ecedee;
  --color-light-fade: #eeebef;
  --color-mid: #cccccc;
  --color-dark: #404040;
  --color-dark-down: #303145;
  --color-dark-no-swop: #404040;
}

:root {
  --color-mint: hsl(164, 61%, 65%);
  --color-mint-up: hsl(148, 35%, 74%);
  --color-mint-down: hsl(163, 36%, 51%);
  --color-lilac: hsl(264, 51%, 71%);
  --color-sea: hsl(189, 58%, 65%);
  --color-highlight: hsl(264, 51%, 71%);
  --color-lilac-up: hsl(240, 33%, 77%);
  --color-sherbet: hsl(55, 97%, 85%);
  --color-sherbet-fade: hsl(55, 100%, 94%);
  --color-rose: hsl(344, 56%, 69%);
  --color-marshmellow: hsl(329, 44%, 71%);
  --color-peach: hsl(4, 65%, 85%);
  --color-biscuit: hsl(26, 18%, 61%);
  --color-oat: hsl(17, 12%, 77%);
  --color-light: hsl(0, 0%, 97%);
  --color-light-fade: hsl(300, 11%, 96%);
  --color-light-down: hsl(210, 4%, 98%);
  --color-light-down-2: hsl(210, 4%, 96%);
  --color-light-down-3: hsl(210, 4%, 93%);
  --color-mid: hsl(0, 0%, 80%);
  --color-dark: hsl(0, 0%, 25%);
  --color-dark-opacity: hsla(0, 0%, 25%, 0.3);
  --color-dark-down: hsl(237, 18%, 23%);
  --color-mint-selection: rgba(111, 220, 191, 0.9);
  --color-lilac-selection: rgba(173, 143, 219, 0.9);
  --color-light-selection: rgba(247, 247, 247, 0.99);
  --color-dark-selection: rgba(64, 64, 64, 0.99);
}