---
title: Post Archives
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 3
  alias: posts
  reverse: true
btnTitle: Read more articles on JavaScript
btnHref: '/'
---

{# Setting variables to be used later #}

{% set allPosts = collections.post | reverse %}
{% set currentPage = 1 %}
{% set postsPerPage = 3 %}

<div class="archives__wrapper">
    <div class="archives__heading">
        <h1 class="archives__title">All Articles</h1>
        <span class="accent contact__accent"></span>
    </div>
    <span class="archives__subtitle">Browse articles by topic</span>

    {# All articles list #}
    <ul class="articles__list">
        <ul>
            <li><h4><a href="" class="highlighter">JavaScript</a></h4></li>
            <li><a href="" class="highlighter">Strings and arrays explained as simple as possible</a></li>
            <li><a href="" class="highlighter">Building a personal static site with 11ty</a></li>
            <li><a href="" class="highlighter">Creating custom cursor that follows pointer</a></li>
            <li><a href="" class="highlighter">Making of an infinite slider</a></li>
            {# <li>{% include "components/uns-btn.njk" %}</li> #}
        </ul>
    </ul>
</div>



{# HOW POSTS WILL LOOK IN ARCHIVES PAGE #}
<ul>
    {% for post in posts %}
        {# Another look for all posts #}
        {# <li><a href="{{ post.url }}">{{ post.data.title }}</a> <i>(written {{ post.date }})</i></li> #}

        {# How list item looks on homepage #}
        <li>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ post.data.title }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{ post.data.description }}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ post.url }}" class="button is-fullwidth is-link card-footer-item">Read article</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>


<br>
<br>
<br>

{# ---------- Pagnination ---------- #}
{% include "components/pagination.njk" %}