---
title: Post Archives
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 3
  alias: posts
  reverse: true
---

{# Setting variables to be used later #}

{% set allPosts = collections.post | reverse %}
{% set currentPage = 1 %}
{% set postsPerPage = 3 %}



<h2>All articles</h2>
<p>
    This page shares my best articles to read on topics 
    like health, happiness, creativity, productivity and 
    obviously web development. The central question that 
    drives my work is, “How can we live better?” To answer 
    that question, I like to write about science-based ways 
    to solve practical problems.
</p>

{# HOW POSTS WILL LOOK IN ARCHIVES PAGE #}
<ul>
    {% for post in posts %}
        {# Another look for all posts #}
        {# <li><a href="{{ post.url }}">{{ post.data.title }}</a> <i>(written {{ post.date }})</i></li> #}

        {# How list item looks on homepage #}
        <li>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ post.data.title }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{ post.data.description }}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ post.url }}" class="button is-fullwidth is-link card-footer-item">Read article</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>


<br>
<br>
<br>

{# ---------- Pagnination ---------- #}
{% include "components/pagination.njk" %}