---
title: Post Archives
layout: layouts/base.njk
pagination:
  data: collections
  size: 3
  alias: lists
  reverse: true
---

{# Setting variables to be used later #}
{% set itemsPerList = 3 %}


<div class="archives__wrapper">
    <div class="archives__heading">
        <h1 class="archives__title">All Articles</h1>
        <span class="accent"></span>
    </div>
    <span class="archives__subtitle">Browse articles by topic</span>

    
    {# All articles list #}

    {# Maybe instead of hardcoding these lists here, you can create these lists in Sanity #}
    {# Or maybe instead of that, you can create some function which accepts the tags and creates lists from them #}
    {# And remove the pagination concept to pages like "all articles tagged with javascript" #}
    {# NOTE: IMPLEMENTED ABOVE SUCCESSFULLY #}
    
    <ul class="articles__list">

        {# Lists of articles falling into a certain category/tag #}
        {% for list in lists %}
            {# To remove the last one called all #}
            {% if list !== "all" %}
                <ul>
                    {# Heading i.e. tagged with #}
                    <li><h4><a href="/categories/{{ list | slugify }}" class="highlighter">{{ list }}</a></h4></li>

                    {# Three posts tagged with this current tag #}
                    {% for post in collections[list] %}
                        {% if (loop.index <= itemsPerList) %}
                            <li class="">
                                <a href="{{post.url}}" class="highlighter">{{ post.data.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {# Link to tag.njk page for reading all posts tagged with current tag #}
                    <li><a href="/categories/{{ list | slugify }}" class="highlighter articles__go">
                        Read all articles on {{ list }}
                        <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.71875 0.125L9.46875 0.34375C9.34375 0.5 9.34375 0.71875 9.46875 0.875L12.0938 3.46875H0.375C0.15625 3.46875 0 3.65625 0 3.84375V4.15625C0 4.375 0.15625 4.53125 0.375 4.53125H12.0938L9.46875 7.15625C9.34375 7.3125 9.34375 7.53125 9.46875 7.6875L9.71875 7.90625C9.84375 8.0625 10.0938 8.0625 10.25 7.90625L13.875 4.28125C14.0312 4.125 14.0312 3.90625 13.875 3.75L10.25 0.125C10.0938 -0.03125 9.84375 -0.03125 9.71875 0.125Z" fill="#111111"></path>
                        </svg>
                    </a></li>
                </ul>
            {% else %}
                <ul>
                    <li><h4>The End 👋</h4></li>
                    <li><a href="/archives" class="highlighter articles__go">
                        To read more, go to the first page
                        <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.71875 0.125L9.46875 0.34375C9.34375 0.5 9.34375 0.71875 9.46875 0.875L12.0938 3.46875H0.375C0.15625 3.46875 0 3.65625 0 3.84375V4.15625C0 4.375 0.15625 4.53125 0.375 4.53125H12.0938L9.46875 7.15625C9.34375 7.3125 9.34375 7.53125 9.46875 7.6875L9.71875 7.90625C9.84375 8.0625 10.0938 8.0625 10.25 7.90625L13.875 4.28125C14.0312 4.125 14.0312 3.90625 13.875 3.75L10.25 0.125C10.0938 -0.03125 9.84375 -0.03125 9.71875 0.125Z" fill="#111111"></path>
                        </svg>
                    </a></li>
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
</div>


{# ----------------------------------------------------------- #}

{# Now the following section is irrelevant to this page #}

{# This is how I implemented the pagination for archives page #}
{# It shows posts in reverse order, 3 on one page, with pagination #}

{# Setting variables to be used later #}

{# {% set allPosts = collections.post | reverse %}
{% set currentPage = 1 %}
{% set postsPerPage = 3 %} #}

{# <ul>
    {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.data.title }}</a> <i>(written {{ post.date }})</i></li>
    {% endfor %}
</ul> #}

{# ----------------------------------------------------------- #}

<br>
<br>
<br>

{# ---------- Pagnination ---------- #}
{% include "components/pagination.njk" %}