---
title: Tags
layout: layouts/page.njk
btnTitle: Back to home
btnHref: /

pagination:
    data: collections
    size: 1
    alias: tag
    addAllPagesToCollections: true

eleventyComputed: 
    title: "{{ tag }}"

permalink: /categories/{{ tag | slugify }}/
---

<!-- You can also use an HTML or Nunjucks file instead of Markdown if you prefer. -->


<div class="tag-page__wrapper">
	{# <h1>Posts tagged with {{ tag }}</h1> #}
	<div class="tag-page__heading">
			<h1 class="tag-page__title">All {{ tag }} articles</h1>
			<span class="accent tag-page__accent"></span>
	</div>
	<span class="tag-page__subtitle">This is a complete list of articles I have written on {{ tag }}. Enjoy!</span>

	<ul class="tag-page__list">
		{% for post in collections[tag] %}
				<li class="tag-page__item">
						<a href="{{post.url}}" class="highlighter">{{ post.data.title }}</a>
				</li>
		{% endfor %}
	</ul>

	{% include "components/uns-btn.njk" %}
</div>