<!-- macro for css, accept a filename as input -->
{% macro css(filename) %}

    <!-- change relative path -->
    {# {% set path = filename | replace('./src/', '../') %} #}
    {% if filename !== "./index.njk" %}
        {% set path = filename | replace('./'+page.fileSlug, '') %}
        <!-- replace file extension -->
        {% set path = utils.replaceExtension(path, 'css') %}
    {% endif %}
    
    <!-- store the css file content as a string variable -->
    <!-- ignore if missing -->
    {% set cssStr %}
        {% include filename ignore missing %}
    {% endset %}

    <!-- interpolate it in style tag -->
    <link rel="stylesheet" href={{ "css"+path }}>

    {# <style>
        {{ cssStr | safe }}
    </style> #}
{% endmacro %}

{# We can reuse the macros this way for all layouts/pages 
(e.g. wiriting.layout.njk) - Import the macro, then use it 
by passing in the filename #}