<footer>
	<a href="/" class="logo" aria-label="Site logo" title="Home">
		<svg id="footer__logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="16.32" height="20" viewBox="0 0 16.32 20" alt="Site logo"><path d="M9.59.69V7.31A.69.69,0,0,1,8.91,8H6.2a.69.69,0,0,0-.69.69v2.62a.69.69,0,0,1-.68.69H2.12a.69.69,0,0,1-.69-.69V8.69A.69.69,0,0,1,2.12,8H4.83a.69.69,0,0,0,.68-.69V.69A.69.69,0,0,1,6.2,0H8.91A.69.69,0,0,1,9.59.69Z" transform="translate(-1.43 0)" style="fill:#ffffff"/><path d="M17.75,12.69v6.62a.69.69,0,0,1-.68.69H14.36a.69.69,0,0,1-.69-.69V12.69A.69.69,0,0,0,13,12H10.28a.69.69,0,0,1-.69-.69V8.69A.69.69,0,0,1,10.28,8H13a.69.69,0,0,1,.68.69v2.62a.69.69,0,0,0,.69.69h2.71A.69.69,0,0,1,17.75,12.69Z" transform="translate(-1.43 0)" style="fill:#ffffff"/></svg>
	</a>
	<hr class="footer__hr">
	<div class="footer__bottom">
		{# <div class="footer__copyright">&copy; 2023 All Rights Reserved. Deepak Gangwar</div> #}
		<div class="footer__copyright">Hand-crafted with love <span style="color: red;">❤</span> by Deepak Gangwar © </div>
		<ul class="footer__links">
			<li class="footer__link">
				<a href="/licenses" class="underline__link underline__link-light">
					<span class="underline__span" title="View licenses">Licenses</span></a>
			</li>
			<li class="footer__link">
				<a href="/rss.xml" class="underline__link underline__link-light">
					<span class="underline__span" title="Subscribe to the RSS Feed">RSS Feed</span></a>
			</li>
		</ul>
	</div>
</footer>