<!-- import the macro -->
{% import "src.macro.njk" as src with context %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{#The contents in double curly braces are Nunjucks variables that will be replaced accordingly when a derivative page is being built#}
<title>{{ title }}</title>

<meta name="author" content="{% if author %}{{ author }}{% else %}Deepak Gangwar{% endif %}"/>
<meta name="copyright" content="Copyright &copy; 2023 Deepak Gangwar."/>
<meta name="description" content="{% if description %}{{ description }}{% else %}From Javascript to web dev to WebGL and beyond, Deepak Gangwar's blog is your guide to the world of web development. Documenting articles and tutorials of my learnings and advancements in the field.{% endif %}"/>

<!-- Open Graph -->
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Deepak Gangwar's blog"/>
<meta property="og:description" content="A collection of my write-ups"/>
<meta property="og:type" content="article"/>
<meta property="og:site_name" content="Name of my blog"/>

{# <meta property="og:image" content="https://jec.fyi/assets/img/root/blog.jpg" /> #}
<meta property="og:image" content="https://res.cloudinary.com/dsd5tjyri/image/upload/v1675933467/11ty-blog/blog_pggty0.jpg"/>
<meta property="og:image:type" content="image/jpeg"/>
<meta property="og:image:alt" content="Deepak's blog"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@_DeepakGangwar"/>
<meta name="twitter:description" content="A collection of my write-ups"/>
<meta name="twitter:title" content="Deepak Gangwar's blog"/>
<meta name="twitter:image" content="https://res.cloudinary.com/dsd5tjyri/image/upload/v1675933467/11ty-blog/blog_pggty0.jpg"/>
<meta name="twitter:image:alt" content="Deepak's blog"/>

<!-- Theming and Icons -->
<meta name="theme-color" content="#fff"/>
<link rel="shortcut icon" href="/favicon.ico"/>
{# <link rel="icon" type="image/x-icon" href="assets/favicon.ico" sizes="32x32"/> #}
{# <link rel="icon" type="image/x-icon" href="assets/favicon.ico" sizes="192x192"/> #}
<link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dsd5tjyri/image/upload/v1675932468/11ty-blog/favicon_ml7wmk.png" sizes="192x192"/>
<link rel="mask-icon" href="https://res.cloudinary.com/dsd5tjyri/image/upload/v1675933097/11ty-blog/favicon_weiimm.svg" color="#4C566A"/>
<link rel="apple-touch-icon" href="https://res.cloudinary.com/dsd5tjyri/image/upload/v1675932883/11ty-blog/favicon-120_k2bf42.png" sizes="120x120"/>
<link rel="apple-touch-icon" href="https://res.cloudinary.com/dsd5tjyri/image/upload/v1675932883/11ty-blog/favicon-152_psybox.png" sizes="152x152"/>
<link rel="apple-touch-icon" href="https://res.cloudinary.com/dsd5tjyri/image/upload/v1675932883/11ty-blog/favicon-180_vibktw.png" sizes="180x180"/>

{# When site is live, update these paths from cloudinary to root directory assets as shown below #}
{# <link rel="apple-touch-icon" href="https://jec.fyi/assets/img/favicons/favicon-120.png" sizes="120x120" /> #}
{# <link rel="apple-touch-icon" href="https://jec.fyi/assets/img/favicons/favicon-152.png" sizes="152x152" /> #}
{# <link rel="apple-touch-icon" href="https://jec.fyi/assets/img/favicons/favicon-180.png" sizes="180x180" /> #}

<meta name="msapplication-TileColor" content="#4C566A"/>
<meta name="msapplication-TileImage" content="https://res.cloudinary.com/dsd5tjyri/image/upload/v1675933192/11ty-blog/favicon-144_cvlvjr.png"/>
<meta name="msapplication-config" content="browserconfig.xml"/>

{# Inline styles - base styles that are common for all the pages #}
{# use the css macro #}
{# {{ src.css('./layouts/base.css') }}
{% set baseCss %}
{% include "../layouts/base.css" %}
{% endset %}

<!-- interpolate it in style tag -->
<style>
    {{baseCss | safe}}
</style> #}

{# {% set filename = "../../css/pages/archives.css" %}
{% set cssStr %}
    {% include filename %}
{% endset %}

<!-- interpolate it in style tag -->
<style>
    {{ cssStr | safe }}
</style> #}

{# External stylesheet - styles that are unique to individual pages and is added as external file #}
<link rel="stylesheet" href="/styles.css">
{# Updated this because now I am using multiple css files and importing them, thus using nunjucks to create my css file #}
{# <link rel="stylesheet" href="/styles.css"> #}
{# <link rel="stylesheet" href="../css/pages/about.css"> #}

{# include the page template CSS (page specific styles) #}
{# {{ src.css(page.inputPath) }} #}

<link rel="alternate" type="application/rss+xml" title="Main RSS Feed" href="{{ site.url }}/rss.xml"/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W4FJE419EX"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-W4FJE419EX');
</script>