{# --------------   PAGINATION COMPONENT FOR ARCHIVES   --------------- #}

{# <h2 id="my-pagination">This is my Pagination</h2> #}
<div class="paginate__container">
    <nav role="navigation" aria-labelledby="pagination">
    <ul class="paginate__list">
        {# --------- First button ----------- #}
        <li class="paginate__item">
            {% if page.url != pagination.href.first %}
                <a href="{{ pagination.href.first }}" aria-label="First page">First</a>
            {% else %}
                <span class="is-disabled">First</span>
            {% endif %}
        </li>


        {# --------- Previous button -------- #}
        <li class="paginate__item previous__page">
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}" rel="prev" aria-label="Previous page">Previous</a>
            {% else %}
                <span class="is-disabled">Previous</span>
            {% endif %}
        </li>


        {# --------- Expanded pagination -------------- #}
        {% if pagination.pages.length < 6 %}
            {%- for pageEntry in pagination.pages %}
                <li class="paginate__item"><a href="{{ pagination.hrefs[ loop.index0 ] }}" aria-label="Page {{ loop.index }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
            {%- endfor %}
        {% endif %}


        {# ---------- Breadcrumbed pagination --------- #}
        {% if pagination.pages.length > 6 %}
            {%- for pageEntry in pagination.pages %}
                {% if loop.index0 < 3 %}
                    <li class="paginate__item"><a href="{{ pagination.hrefs[ loop.index0 ] }}" aria-label="Page {{ loop.index }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
                {% endif %}
            {%- endfor %}
                <li class="paginate__item">...</li>
            {# Now the second for loop is to show two last pages by number #}
            {%- for pageEntry in pagination.pages %}
                {% if loop.index0 > pagination.pages.length-3 %}
                    <li class="paginate__item"><a href="{{ pagination.hrefs[ loop.index0 ] }}" aria-label="Page {{ loop.index }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
                {% endif %}
            {%- endfor %}
        {% endif %}


        {# ------------ Next button ----------- #}
        <li class="paginate__item next__page">
            {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}" rel="next"  aria-label="Next page">Next</a>
            {% else %}
                <span class="is-disabled">Next</span>
            {% endif %}
        </li>


        {# -------- Last button ------------ #}
        <li class="paginate__item">
            {% if page.url != pagination.href.last %}
                <a href="{{ pagination.href.last }}" aria-label="Last page">Last</a>
            {% else %}
                <span class="is-disabled">Last</span>
            {% endif %}
        </li>
    </ul>
    </nav>
</div>