<small id="copyright" style="text-align:center display: block; padding: 20px 0;">
	Hand-crafted with love <span style="color: red;">❤</span> by Deepak Gangwar © 
	<a href="/licenses" class="underline__link"><span class="underline__span">Licenses</span></a>
		| 
	<a href="/index.xml" class="underline__link"><span class="underline__span">RSS Feed</span></a>
</small>