<a href="{{btnHref}}" class="uns-btn__container" aria-label="{{btnTitle}}">
  <div class="uns-btn white">
    <span class="uns-btn__content">
        <span>{{ btnTitle }}</span>
        <svg class="uns-btn__icon" viewBox="0 0 20 20">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M.4 2.6l13.8 13.8H1.5v3.2h18.1V1.5h-3.2v12.7L2.6.4.4 2.6z"/>
        </svg>
    </span>
    
    <span class="uns-btn__content uns-btn__content--cloned">
        <span>{{ btnTitle }}</span>
        <svg class="uns-btn__icon" viewBox="0 0 20 20" fill="#ffffff">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M.4 2.6l13.8 13.8H1.5v3.2h18.1V1.5h-3.2v12.7L2.6.4.4 2.6z"/>
        </svg>
    </span>
  </div>
</a>