<nav class="nav is-light" role="navigation" aria-label="main navigation">
  <div class="nav__start">
    <div class="nav__item nav__logo">
      {{ site.title }}
    </div>
  </div>
  <ul class="nav__end nav__list">
    <li class="nav__item">
      <a href="/" class="nav__link">
        Home
      </a>
    </li>

    <li class="nav__item">
      <a href="/about" class="nav__link">
        About Me
      </a>
    </li>

    <li class="nav__item">
      <a href="/contact" class="nav__link">
        Contact
      </a>
    </li>

    <li class="nav__item">
      <a href="/archives" class="nav__link">
        Archives
      </a>
    </li>
  </ul>
</nav>