---
permalink: styles.css
---

{% include "./base/reset.css" %}
{% include "./base/typography.css" %}
{% include "./base/variables.css" %}

{% include "./components/onpage.css" %}
{% include "./components/pagination.css" %}
{% include "./components/underline.css" %}
{% include "./components/highlighter.css" %}
{% include "./components/unseen-btn.css" %}
{% include "./components/navigation.css" %}
{% include "./components/postShare.css" %}
{% include "./components/footer.css" %}

{% include "./base/base.css" %}
{% include "./pages/home.css" %}
{% include "./pages/archives.css" %}
{% include "./pages/about.css" %}
{% include "./pages/post.css" %}
{# This is included here because otherwise overflow styles change order and thigs break #}
{% include "./components/syntax-highlighting.css" %}

{% include "./pages/tags.css" %}
{% include "./pages/contact.css" %}