.archives__wrapper {
  margin: 0 17vw;
  margin-top: var(--space-2xl-3xl);
  margin-bottom: var(--space-xl);
  height: fit-content;
}

@media screen and (max-width: 480px) {
  .archives__wrapper {
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }
}

.archives__wrapper ul {
  padding: 0;
  list-style-type: none;
}

.archives__subtitle {
  display: inline-block;
  font-size: var(--font-size-s);
  font-family: var(--font-sans);
  letter-spacing: 0.01em;
  /* margin-bottom: var(--space-3xs); */
  margin-bottom: var(--space-xl);
  margin-left: var(--space-3xs);
  color: var(--color-gray-800);
}

.archives__heading {
  display: flex;
  min-width: fit-content;
  width: 30vw;
  align-items: center;
}

.archives__title {
  font-size: var(--font-size-2xl);
  font-family: var(--font-serif);
  line-height: var(--leading-tighter);
  letter-spacing: -0.03em;
  font-weight: normal;
  margin-bottom: var(--space-2xs);
  max-width: 1200px;
  display: inline-block;
}

.articles__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: justify; */
  /* -webkit-justify-content: space-between; */
  /* -ms-flex-pack: justify; */
  /* justify-content: space-between; */
  justify-content: flex-start;
  margin-bottom: 87px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .articles__list {
    /* -webkit-justify-content:space-around; */
    /* -ms-flex-pack: distribute; */
    /* justify-content: space-around; */
  }
}

.articles__list:last-child {
  margin-bottom: 0;
}

.articles__list ul {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 calc(69% - 68px);
  -ms-flex: 0 1 calc(69% - 68px);
  flex: 0 1 calc(69% - 68px);
  margin: 32px 0 32px;
}

@media screen and (min-width: 1920px) {
  .articles__list ul {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 calc(50% - 68px);
    -ms-flex: 0 1 calc(50% - 68px);
    flex: 0 1 calc(50% - 68px);
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .articles__list ul {
    margin-top: 0;
  }
}

@media screen and (max-width: 959px) {
  .articles__list ul {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: unset;
  }

  .articles__list ul h4 {
    max-width: unset;
  }
}

.articles__list ul li {
  font-size: 20px;
  line-height: 165%;
  border-bottom: 1px solid #edeade;
  padding: 12px 0;
  margin-bottom: 0;
}

.articles__list ul li::before {
  display: none;
}

.articles__list ul li:first-child {
  font-weight: bold;
  font-size: 21px;
  line-height: 150%;
  text-transform: capitalize;
}

.articles__list ul li:last-child {
  border-bottom: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 170%;
  text-transform: uppercase;
  padding-top: 23px;
  font-family: var(--font-sans), sans-serif;
  letter-spacing: 1px;
}

.articles__list ul li:last-child svg {
  margin-left: 16px;
}

.articles__list ul a {
  text-decoration: none;
  color: #111111;
}

.articles__list a {
  border-bottom-color: #fff;
}

a.articles__go {
  padding: 8px 0 2px 0;
}
