.archives__wrapper {
    margin: 0 17vw;
    margin-top: var(--space-2xl-3xl);
    margin-bottom: var(--space-xl);
    height: fit-content;
}

.archives__wrapper ul {
    padding: 0;
    list-style-type: none;
}

.archives__subtitle {
    display: inline-block;
    font-size: var(--font-size-s);
    font-family: var(--font-sans);
    letter-spacing: 0.01em;
    /* margin-bottom: var(--space-3xs); */
    margin-bottom: var(--space-xs);
    margin-left: var(--space-3xs);
    color: var(--color-gray-800);
}

.archives__heading {
    display: flex;
    min-width: fit-content;
    width: 30vw;
    align-items: center;
}

.archives__title {
    font-size: var(--font-size-2xl);
    font-family: var(--font-serif);
    line-height: var(--leading-tighter);
    letter-spacing: -0.03em;
    font-weight: normal;
    margin-bottom: var(--space-2xs);
    max-width: 1200px;
    display: inline-block;
}