.post__wrapper {
    margin: 0 17vw;
    margin-top: var(--space-2xl-3xl);
    margin-bottom: var(--space-xl);
    height: fit-content;
}

@media screen and (max-width: 480px) {
    .post__wrapper {
        margin-left: var(--space-m);
        margin-right: var(--space-m);
    }
}

.post__wrapper ul {
    padding: 0;
    list-style-type: none;
}

.post__heading {
    /* display: flex; */
    min-width: fit-content;
    width: 30vw;
    align-items: center;
}

.post__heading .accent {
    margin-bottom: var(--space-2xs);
}

.post__title {
    font-size: var(--font-size-2xl);
    font-family: var(--font-serif);
    line-height: var(--leading-tighter);
    letter-spacing: -0.03em;
    font-weight: normal;
    margin-bottom: var(--space-2xs);
    max-width: 1200px;
    max-width: 13ch;
    display: inline-block;
}

.post__subtitle {
    display: inline-block;
    font-size: var(--font-size-md);
    font-family: var(--font-sans);
    font-weight: normal;
    letter-spacing: 0.01em;
    /* margin-bottom: var(--space-3xs); */
    /* margin-bottom: var(--space-xl); */
    margin-left: var(--space-3xs);
    color: var(--color-gray-600);
}

.metadata__container {
    display: flex;
    gap: 1rem;
}

.post__metadata {
    display: inline-block;
    font-size: var(--font-size-s);
    font-family: var(--font-sans);
    letter-spacing: 0.01em;
    /* margin-bottom: var(--space-3xs); */
    /* margin-bottom: var(--space-xl); */
    margin-left: var(--space-3xs);
    color: var(--color-gray-800);
}

@media (max-width: 780px) {
    .metadata__container {
        gap: 0.5rem;
        flex-direction: column;
    }

    .metadata__container span {
        display: none;
    }
}

.tags__list {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
    text-transform: capitalize;
    margin-bottom: var(--space-xl);
}

.tag {
    /* color: #233043;
    border: 1px solid #233043; */
    color: var(--color-gray-600);
    color: var(--color-bright-crimson);
    border: 1px solid var(--color-gray-400);
    border-radius: 8px;
    padding: 2px 12px;
    transition: all 0.3s ease;
}

.tag:hover {
    background: var(--color-cute-purple);
    background: var(--color-salmon);
    color: var(--color-gray-800);
    border-color: transparent;
}

.post__content p {
    color: var(--color-gray-800);
    max-width: 52ch;
    font-size: var(--font-size-sm);
    /* max-width: 45ch; */
    /* font-size: var(--font-size-base); */
    line-height: var(--leading-looser);
    margin-bottom: var(--space-m);
}

.post__wrapper hr {
    color: var(--color-gray-400);
}