---
eleventyComputed:
    title: "{{ post.title }}"
    heading: "{{ post.heading }}"
    description: "{{ post.description }}"
    author: "{{ post.author.name }}"

tags:
  - post

layout: layouts/post.njk

pagination:
    data: posts
    size: 1
    alias: post
    addAllPagesToCollections: true

permalink: "/posts/{{ post.slug.current }}/"
---

{# What would be in pages of sanity posts #}

<h1>Title: {{ post.title }}</h1>
<h2>Heading: {{ post.heading }}</h2>
<p>Author: {{ post.author.name }}</p>
<p>Categories: 
    {# {{ post.categories }} #}
  {% for category in post.categories %}
    {{ category.title }}
  {% endfor %}
</p>
<p>Date: {{ post.publishedAt | buildRFC822Date }}</p>
{# <p>Date: {{ new Date(post.publishedAt).toLocaleDateString() }}</p> #}
<h1>Body 👇</h1>
{{ post.body | sanityToHTML | safe }}

{# This created so many fucking problems, I couldn't add markdown as my blogpost type
so they only thing missing was to pass through safe because it was rendering unparse html directy #}
{# {{ post.body | sanityToHTML }} #}

{% for post in collections.posts %}
  <article>
    {% include "sanityPosts.njk" %}
  </article>
{% endfor %}

{# What is happening now is in the post pages that correspond to sanity posts #}
{# We are having this article tag and inside this articles tag, we have all the matter written above it. #}