<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "components/head.njk" %}
  </head>
  <body>
    {# <header>{% include "components/nav.njk" %}</header> #}
    {% include "components/nav.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {# Removed the small component #}
    {% include "components/small.njk" %}

    {# Added a footer component after removing the upper small component #}
    {# But I feel like i should remove it from the contact page #}
    {% include "components/footer.njk" %}
  </body>
</html>