<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {#The contents in double curly braces are Nunjucks variables that will be replaced accordingly when a derivative page is being built#}
  <title>{{ title }}</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W4FJE419EX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-W4FJE419EX');
  </script>
</head>
<body>
  <header>{% include "nav.njk" %}</header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>