---
layout: layouts/base.njk
---

{# 
Similar to the page.njk template, the post template extends the base 
template with additions that make sense for posts (such as the date 
of publication). 
#}

{# 
In a real-world project, it’s likely that you’ll want different 
layouts for posts and pages, so it’s good practice to create a 
new layout for each one. 
#}


{# For providing reading time #}
{% set regExpCode = r/<pre class=(.|\n)*?<\/pre>/gm %}
{% set fixedContent = content | replace(regExpCode, "") | striptags %}
{% set wordCount = fixedContent | wordcount %}
{% set readingRate = 225 %}
{% set readingTime = (wordCount/readingRate) | round %}
{% if readingTime < 1 %}{% set readingTime = 1 %}{% endif %}


<div class="post__wrapper">
  <div class="post__heading">
    {# Updated title to heading, this way you can have main heading other than page title #}
    <h1 class="post__title">{{ heading }}</h1>
    {# <span class="accent contact__accent"></span> #}
  </div>

  {# Article Metadata #}
  <div class="metadata__container">
    {# <span class="post__subtitle">Browse articles by topic</span> #}
    <p class="post__metadata">Written by {{ author }}</p>
    <span>|</span>
    
    {# --------------- Date ------------------ #}
    <p class="post__metadata">
      Published on: <time datetime="{{ page.date }}">{{ page.date | readableDate }}</time>
    </p>
    <span>|</span>
    
    {# --------------- Reading time ---------- #}
    <p class="post__metadata">
      {# Different styles of reading time #}
      {# {{ wordCount | numCommas }} words • Reading time: {{ readingTime }} minute{% if readingTime > 1 %}s{% endif %} #}
      {# Reading time: {{ readingTime }} minute{% if readingTime > 1 %}s{% endif %} #}
      {{ readingTime }} min read
    </p>
  </div>

  {# --------------- Tags ------------------ #}
  <div class="post__tags">
    <ul class="tags__list">
      {% for tag in tags %}
        <li class="tag">
          <a href="/categories/{{ tag | slugify }}">{{tag}}</a>
          {# <a href="/categories/{{ tag | slugify }}">{{tag}}</a> #}
        </li>
      {% endfor %}
    </ul>
  </div>

  {# --------------- Content --------------- #}
  <article class="post__content">
    {{ content | safe }}
  </article>
</div>


{# -------------- Social Sharing -------------- #}

{% set pageUrl = site.url + page.url %}
{# {% assign stitle = heading | escape %} #}
{% set stitle = "Give this a read 👇 " %}


<div class="share">
  <p class="share__title">
    Like what you're reading. Share &nbsp;&mdash;&nbsp;
  </p>
  <ul class="share__list">
    <li class="share__item">
      <a href="https://www.facebook.com/sharer.php?u={{ pageUrl }}" class="share__link" target="_blank" rel="noopener" aria-label="Share on Facebook">Facebook</a>
    </li>
    <li class="share__item">
      <a href="https://twitter.com/intent/tweet?url={{ pageUrl }}&text={{ stitle }}" class="share__link" target="_blank" rel="noopener" aria-label="Share on Twitter">Twitter</a>
    </li>
    <li class="share__item">
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ pageUrl }}" class="share__link" target="_blank" rel="noopener" aria-label="Share on LinkedIn">LinkedIn</a>
    </li>
    <li class="share__item">
      <a href="https://reddit.com/submit?url={{ pageUrl }}&title={{ stitle }}" class="share__link" target="_blank" rel="noopener" aria-label="Share on Reddit">Reddit</a>
    </li>
  </ul>
</div>
